<server>
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>appSecurity-3.0</feature>
        <feature>restConnector-2.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>ejbLite-3.2</feature>
        <feature>jaxrs-2.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

    <library id="jdbcLib">
        <fileset dir="/config/drivers/" includes="*.jar"/>
    </library>

    <dataSource id="DefaultDataSource" jndiName="jdbc/ssbd04mokDS">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="db" portNumber="3306"
                    databaseName="ssbd04"
                    user="ssbd04mok"
                    password="0r2v03rlhfim4xhdd"/>
    </dataSource>
    <dataSource id="MOL" jndiName="jdbc/ssbd04molDS">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="db" portNumber="3306"
                    databaseName="ssbd04"
                    user="ssbd04mol"
                    password="4lc8faovny1rm8ga3"/>
    </dataSource>
    <dataSource id="MOB" jndiName="jdbc/ssbd04mobDS">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="db" portNumber="3306"
                    databaseName="ssbd04"
                    user="ssbd04mob"
                    password="n1b67mgir4yw34xh5"/>
    </dataSource>
    <dataSource id="Auth" jndiName="jdbc/ssbd04authDS">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="db" portNumber="3306"
                    databaseName="ssbd04"
                    user="ssbd04auth"
                    password="8sU6QvyXld5AVSXA"/>
    </dataSource>

    <basicRegistry id="basic" realm="WebRealm">
    </basicRegistry>

    <application type="war" id="guwno" name="ssbd04"
                 location="${server.config.dir}/dropins/ssbd04-1.0.war">
        <application-bnd>
            <security-role name="editAccountAccessLevel">
                <group name="admin"/>
            </security-role>
            <security-role name="getAccessLevels">
                <group name="admin"/>
            </security-role>
            <security-role name="retrieveOwnAccountDetails">
                <group name="admin"/>
                <group name="manager"/>
                <group name="client"/>
                <group name="customer_service"/>
            </security-role>
            <security-role name="changeRole">
                <group name="admin"/>
                <group name="manager"/>
                <group name="client"/>
                <group name="customer_service"/>
            </security-role>
            <security-role name="retrieveOtherAccountDetails">
                <group name="admin"/>
            </security-role>
            <security-role name="editOwnAccountDetails">
                <group name="admin"/>
                <group name="manager"/>
                <group name="client"/>
                <group name="customer_service"/>
            </security-role>
            <security-role name="editOtherAccountDetails">
                <group name="admin"/>
            </security-role>
            <security-role name="getAllAccounts">
                <group name="admin"/>
            </security-role>
            <security-role name="getAllAccountsAuthInfo">
                <group name="admin"/>
            </security-role>
            <security-role name="getAccountAuthInfo">
                <group name="admin"/>
                <group name="manager"/>
                <group name="client"/>
                <group name="customer_service"/>
            </security-role>
            <security-role name="changeOwnAccountPassword">
                <group name="admin"/>
                <group name="manager"/>
                <group name="client"/>
                <group name="customer_service"/>
            </security-role>
            <security-role name="changeOtherAccountPassword">
                <group name="admin"/>
            </security-role>
            <security-role name="changeAccountActiveStatus">
                <group name="admin"/>
            </security-role>
            <security-role name="findAccountsByName">
                <group name="admin"/>
            </security-role>
            <security-role name="findClientsByName">
                <group name="customer_service"/>
            </security-role>
            <security-role name="refreshToken">
                <group name="admin"/>
                <group name="manager"/>
                <group name="client"/>
                <group name="customer_service"/>
            </security-role>
            <security-role name="createSeatClass">
                <group name="manager"/>
            </security-role>
            <security-role name="deleteSeatClass">
                <group name="manager"/>
            </security-role>
            <security-role name="updateSeatClass">
                <group name="manager"/>
            </security-role>
            <security-role name="findSeatClassByName">
                <group name="manager"/>
            </security-role>
            <security-role name="getAllBenefits">
                <group name="manager"/>
            </security-role>
            <security-role name="createAirplaneSchema">
                <group name="manager"/>
            </security-role>
            <security-role name="updateAirplaneSchema">
                <group name="manager"/>
            </security-role>
            <security-role name="deleteAirplaneSchema">
                <group name="manager"/>
            </security-role>
            <security-role name="getAllAirplaneSchemas">
                <group name="manager"/>
            </security-role>
            <security-role name="createAirport">
                <group name="manager"/>
            </security-role>
            <security-role name="deleteAirport">
                <group name="manager"/>
            </security-role>
            <security-role name="updateAirport">
                <group name="manager"/>
            </security-role>
            <security-role name="createConnection">
                <group name="manager"/>
            </security-role>
            <security-role name="deleteConnection">
                <group name="manager"/>
            </security-role>
            <security-role name="updateConnection">
                <group name="manager"/>
            </security-role>
            <security-role name="createFlight">
                <group name="manager"/>
            </security-role>
            <security-role name="cancelFlight">
                <group name="manager"/>
            </security-role>
            <security-role name="updateFlight">
                <group name="manager"/>
            </security-role>
            <security-role name="createTicket">
                <group name="client"/>
            </security-role>
            <security-role name="returnTicket">
                <group name="client"/>
            </security-role>
            <security-role name="returnAnyTicket">
                <group name="customer_service"/>
            </security-role>
            <security-role name="getOwnTickets">
                <group name="client"/>
            </security-role>
            <security-role name="findTicketsByAccount">
                <group name="customer_service"/>
            </security-role>
            <security-role name="findTicketsByFlights">
                <group name="customer_service"/>
            </security-role>
            <security-role name="findAnyTicketById">
                <group name="customer_service"/>
            </security-role>
            <security-role name="findTicketById">
                <group name="client"/>
                <group name="customer_service"/>
            </security-role>
            <security-role name="updateTicket">
                <group name="customer_service"/>
            </security-role>
            <security-role name="getTakenSeats">
                <group name="client"/>
                <group name="customer_service"/>
                <group name="manager"/>
            </security-role>
            <security-role name="calculateConnectionProfit">
                <group name="client"/>
                <group name="customer_service"/>
                <group name="manager"/>
            </security-role>
            <security-role name="generateReport">
                <group name="customer_service"/>
            </security-role>
            <security-role name="ADMIN">
                <group name="admin"/>
            </security-role>
            <security-role name="MANAGER">
                <group name="manager"/>
            </security-role>
            <security-role name="CUSTOMER_SERVICE">
                <group name="customer_service"/>
            </security-role>
            <security-role name="CLIENT">
                <group name="client"/>
            </security-role>
        </application-bnd>
    </application>
</server>