jwt.secretKey=d10bb795778255617d5a33b480ba2dfa4eed59d140daf241b54564e5beb1ac49a234b7a
jwt.validity=15
frontend.url=http://localhost:3000
etag.secretKey=heksagon
mail.apiKey=1d57aa41fa47b41d52a948c64371465d-915161b7-bf9e5e63
mail.apiServer=https://api.eu.mailgun.net/v3/mg.bilelotpol.pl
mail.sender=noreply@bilelotpol.pl
transaction.retryThreshold=5
google.secretKey=6LcakfEUAAAAAKwU3UmHluAG6gYcB1gfFUNG7UlB
google.threshold=0.5
