jwt.secretKey=<<JWT_SECRET_KEY>>
etag.secretKey=<<ETAG_SECRET_KEY>>
jwt.validity=<<JWT_VALIDITY>>
frontend.url=<<FRONTEND_URL>>
mail.apiKey=<<API_KEY>>
mail.apiServer=<<API_SERVER>>
mail.sender=<<SENDER>>
transaction.retryThreshold=5
google.secretKey=<<GOOGLE_SECRET>>
google.threshold=0.5